numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
pymupdf
torch
tqdm
sentence-transformers
chromadb
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-google-genai
fastapi[standard]
google-generativeai
python-dotenv